body{

}

h1{
  background-image: url("./pattern.jpeg");
  font-family: Helvetica;
  font-size: 100px;
  font-weight:bold;
  color:khaki;
  text-align: center;
}



h2{
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  }

#frames{
  background-color: lightcoral;
  }


#paint{
  background-color: skyblue;
 }


#brushes{
  background-color: mediumspringgreen;
  }



h3{
  font-family: Helvetica;
  font-weight: bold;
}

p{
  font-family: Helvetica;
}


#price{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
