/* ------- SECTIONS --------------*/




ul.no-bullet li {
  list-style: none; 
}

ul.dotted-list li{
  margin: 1em 0;
  line-height: 1.3;
}




/*This sets the English name to the right of the page, while the a element 
in Spanish remains to the left */
ul.indexed-list span + span {
  float: right;
}





ul.dotted-list {
  max-width: 40em;
  padding: 0 8%;
  overflow-x: hidden;
  list-style: none
}
ul.dotted-list li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
}
ul.dotted-list span:first-child {
  padding-right: 0.33em;
  background: white}
ul.dotted-list span + span {
  float: right;
  padding-left: 0.33em;
  background: white}
