.doc-in-story {
  line-height: 2;
  padding: 2em 2em 2em 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(179, 103, 10, 0.329);
  width: 65%;
  margin: 0 auto;
  font-size: .8em;
}
.add-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}