/* -------------------------------
   Container: Ferris Wheel
---------------------------------*/
.wheel {
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 50px;
  position: absolute; /* Allows precise placement on the page */
  height: 55vw;
  width: 55vw;
  max-width: 500px;
  max-height: 500px;

  /* Animation Properties */
  animation-name: wheel; /* Name of the animation to run */
  animation-duration: 10s; /* Total time for one animation cycle */
  animation-iteration-count: infinite; /* Repeat the animation forever */
  animation-timing-function: linear; /* Same speed from start to finish */
}

/* -------------------------------
   Wheel Spokes
---------------------------------*/
.line {
  background-color: black;
  width: 50%;
  height: 2px;
  position: absolute; /* So each spoke is placed based on the wheel */
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%; /* Rotates around the top-left of the line */
}

/* Rotate each spoke evenly around the circle */
.line:nth-of-type(2) {
  transform: rotate(60deg); /* Rotates second spoke 60 degrees */
}
.line:nth-of-type(3) {
  transform: rotate(120deg);
}
.line:nth-of-type(4) {
  transform: rotate(180deg);
}
.line:nth-of-type(5) {
  transform: rotate(240deg);
}
.line:nth-of-type(6) {
  transform: rotate(300deg);
}

/* -------------------------------
   Wheel Cabins
---------------------------------*/
.cabin {
  background-color: red;
  width: 20%;
  height: 20%;
  position: absolute; /* Allows individual cabin positioning inside the wheel */
  border: 2px solid;

  transform-origin: 50% 0%; /* Rotates around the center of the top edge */

  /* Shorthand for animation:
     name: cabins
     duration: 10s
     timing-function: ease-in-out (starts/ends slowly)
     iteration-count: infinite (loop forever)
  */
  animation: cabins 10s ease-in-out infinite;
}

/* Position each cabin in circular layout using nth-of-type */
/* Note: nth-of-type counts all elements of the same tag (div in this case) */
.cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}
.cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}
.cabin:nth-of-type(4) {
  left: -8.5%;
  top: 50%;
}
.cabin:nth-of-type(5) {
  left: 17%;
  top: 7%;
}
.cabin:nth-of-type(6) {
  right: 17%;
  top: 7%;
}

/* -------------------------------
   Keyframes Animations
---------------------------------*/

/* Animation to rotate the whole wheel clockwise */
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Full rotation */
  }
}

/* Animation applied to each cabin:
   - Changes background color at key intervals
   - Rotates in the opposite direction to wheel
   - Yellow is repeated to smooth color transition
*/
@keyframes cabins {
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: yellow; /* Color change for dynamic effect */
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: yellow; /* Repeating color helps avoid abrupt transition */
  }
  100% {
    transform: rotate(-360deg); /* Opposite rotation for counter-spin effect */
  }
}

