:root {
    font-size: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8em;
    padding: 1em;
    margin-left: 15%;
    margin-right: 25%;
    width: 60%;
}

p {
    text-align: justify;
    text-indent: 1em;
    margin-bottom: 1.5em;
}

aside { /* margin-bottom should only be temporal. this is intended to place elements to the right side*/
    margin-bottom: .9em;
}

a:hover {
    color: rgba(255, 0, 80, 1);
}



/*SECTIONS*/

.story-top {
    margin-top: 3em;
}

.story-title {
    padding-top: 30px;
    font-size: 1.8em;
    margin-bottom: .5em;
}

.author {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}


.footnotes {
}

.footnote {
    font-size: smaller;
}